Repository hardingadonis/sponi: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./src/**/*.ts", yarn prettier --write "./src/**/*.tsx", yarn prettier --write App.tsx

add: implement `Commit message validation` workflow
  .github/workflows/commit-msg-validation.yml
Due: none

update: add setup node `v20.17.0` to workflows
  .github/workflows/commit-msg-validation.yml
  .github/workflows/deployment-github-page.yml
Due: none

docs: update contribution document
  README.md
  docs/CONTRIBUTING.md
Due: none

add: upload base project for `sponi`
  .gitignore
  App.tsx
  app.json
  assets/adaptive-icon.png
  assets/favicon.png
  assets/icon.png
  assets/splash.png
  babel.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write App.tsx

update: change compatible version for expo 51
  package.json
  yarn.lock
Due: none

docs: add new development in `CONTRIBUTING.md`
  docs/CONTRIBUTING.md
Due: none

fix: fix version in `app.json`
  app.json
Due: none

update: install `expo-local-authentication` package
  .github/FUNDING.yml
  app.json
  package.json
  yarn.lock
Due: none

update: install necessary packages
  .gitignore
  App.tsx
  app.json
  app/index.tsx
  babel.config.js
  package.json
  yarn.lock
Due: yarn prettier --write App.tsx

add: enable ``new architecture`` for project
  app.json
  package.json
  yarn.lock
Due: none

update: update `expo` & `expo-splash-screen` packages
  package.json
  yarn.lock
Due: none

update: add alias @ to project
  tsconfig.json
Due: none

update: `include` & `exclude` in `tsconfig.json`
  tsconfig.json
Due: none

add: create all models from database
  models/account.model.ts
  models/category.model.ts
  models/expense_detail.model.ts
  models/income_detail.model.ts
  models/transaction.model.ts
  models/transfer_detail.model.ts
Due: none

update: extends transaction for income, expense and transfer
  models/expense_detail.model.ts
  models/expense_transaction.model.ts
  models/income_detail.model.ts
  models/income_transaction.model.ts
  models/transfer_detail.model.ts
  models/transfer_transaction.model.ts
Due: none

update: move source code to ``/src`` folder
  app.json
  src/app/index.tsx
  tsconfig.json
Due: yarn prettier --write "./src/**/*.tsx"

update: setup enum type
  models/account.model.ts
  models/category.model.ts
  models/transaction.model.ts
Due: none

update: set alias path
  models/expense_transaction.model.ts
  models/income_transaction.model.ts
  models/transfer_transaction.model.ts
Due: none

update: move `models` to `/src`
  src/models/account.model.ts
  src/models/category.model.ts
  src/models/expense_transaction.model.ts
  src/models/income_transaction.model.ts
  src/models/transaction.model.ts
  src/models/transfer_transaction.model.ts
Due: yarn prettier --write "./src/**/*.ts"

add: create `sponi.database.db` for init database
  assets/sponi.database.db
Due: none

add: install `expo-asset` & `expo-file-system` packages
  package.json
  yarn.lock
Due: none

add: implement `loadDatabase` function
  src/constants/commons.ts
  src/db/sqlite.ts
  tsconfig.json
Due: yarn prettier --write "./src/**/*.ts"

delete: delete `expo-asset` & `expo-file-system` packages
  assets/sponi.database.db
  package.json
  yarn.lock
Due: none

update: update models
  src/models/account.model.ts
  src/models/category.model.ts
  src/models/transaction.model.ts
Due: yarn prettier --write "./src/**/*.ts"

add: implement load database
  src/constants/sql/accounts.sql.ts
  src/constants/sql/categories.sql.ts
  src/constants/sql/commons.ts
  src/constants/sql/init.sql.ts
  src/constants/sql/transactions.sql.ts
  src/db/sqlite.ts
Due: yarn prettier --write "./src/**/*.ts"

update: change version
  app.json
  package.json
Due: none

add: change icon & splash screen
  README.md
  app.json
  assets/adaptive-icon.png
  assets/favicon.png
  assets/icon.png
  assets/images/adaptive-icon.png
  assets/images/favicon.png
  assets/images/icon.png
  assets/images/splash.png
  assets/splash.png
Due: none

add: implement i18n for english & vietnamese
  app.json
  package.json
  src/locales/index.ts
  src/locales/translations/en.ts
  src/locales/translations/vi.ts
  yarn.lock
Due: yarn prettier --write "./src/**/*.ts"

add: use `nativewind` for css
  babel.config.js
  package.json
  src/app/index.tsx
  src/sponi.d.ts
  tailwind.config.js
  yarn.lock
Due: yarn prettier --write "./src/**/*.ts", yarn prettier --write "./src/**/*.tsx"

add: setup base project
  src/components/.gitkeep
  src/components/commons/.gitkeep
  src/contexts/.gitkeep
  src/hooks/.gitkeep
  src/navigation/.gitkeep
  src/screens/index.tsx
  src/services/.gitkeep
  src/store/.gitkeep
  src/types/.gitkeep
  src/utils/.gitkeep
Due: yarn prettier --write "./src/**/*.tsx"

update: re-setup base project
  .prettierrc
  App.tsx
  app.json
  babel.config.js
  package.json
  src/Main.tsx
  src/app/index.tsx
  src/constants/sql/accounts.sql.ts
  src/constants/sql/categories.sql.ts
  src/constants/sql/commons.ts
  src/constants/sql/init.sql.ts
  src/constants/sql/transactions.sql.ts
  src/db/sqlite.ts
  src/locales/index.ts
  src/locales/translations/en.ts
  src/locales/translations/vi.ts
  src/models/account.model.ts
  src/models/category.model.ts
  src/models/expense_transaction.model.ts
  src/models/income_transaction.model.ts
  src/models/transaction.model.ts
  src/models/transfer_transaction.model.ts
  src/sponi.d.ts
  tailwind.config.js
  yarn.lock
Due: yarn prettier --write "./src/**/*.ts", yarn prettier --write "./src/**/*.tsx", yarn prettier --write App.tsx

update: install `reactnavigation` packages
  package.json
  yarn.lock
Due: none

add: install `waterlemondb`
  babel.config.js
  package.json
  src/Main.tsx
  src/data/index.ts
  src/data/migrations.ts
  src/data/schema.ts
  src/data/tables.ts
  yarn.lock
Due: yarn prettier --write "./src/**/*.ts", yarn prettier --write "./src/**/*.tsx"

add: add libs for drawer
  package.json
  yarn.lock
Due: none

add: implement base drawer
  App.tsx
  src/Main.tsx
  src/RootNavigator.tsx
Due: yarn prettier --write "./src/**/*.tsx", yarn prettier --write App.tsx

add: drawer work with screen
  src/RootNavigator.tsx
  src/navigation/DrawerContent.tsx
  src/screens/HomeScreen.tsx
Due: yarn prettier --write "./src/**/*.tsx"

update: implement workable drawer
  package.json
  src/navigation/DrawerContent.tsx
  yarn.lock
Due: yarn prettier --write "./src/**/*.tsx"

update: update icon in drawer
  src/navigation/DrawerContent.tsx
Due: yarn prettier --write "./src/**/*.tsx"

update: enhance drawer icons
  src/navigation/DrawerContent.tsx
Due: yarn prettier --write "./src/**/*.tsx"

add: implement navigation in drawer
  src/RootNavigator.tsx
  src/navigation/DrawerContent.tsx
  src/screens/AccountScreen.tsx
  src/screens/CategoryScreen.tsx
  src/screens/OverviewScreen.tsx
  src/screens/SettingsScreen.tsx
  src/screens/TransactionScreen.tsx
Due: yarn prettier --write "./src/**/*.tsx"

Path conditions:
  yarn prettier --write "./src/**/*.ts": any of: src/**/*.ts
  yarn prettier --write "./src/**/*.tsx": any of: src/**/*.tsx
  yarn prettier --write App.tsx: any of: App.tsx
