Repository hardingadonis/sponi: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write "./src/**/*.ts", yarn prettier --write "./src/**/*.tsx", yarn prettier --write App.tsx

update: add slogan in drawer
  src/navigation/DrawerContent.tsx
Due: yarn prettier --write "./src/**/*.tsx"

update: set name for screens
  src/RootNavigator.tsx
Due: yarn prettier --write "./src/**/*.tsx"

update: update setting screen
  src/RootNavigator.tsx
  src/navigation/DrawerContent.tsx
  src/screens/SettingScreen.tsx
Due: yarn prettier --write "./src/**/*.tsx"

update: update structure folders
  src/Main.tsx
  src/navigation/RootDrawerContent.tsx
  src/navigation/RootNavigator.tsx
Due: yarn prettier --write "./src/**/*.tsx"

add: install `@react-navigation/bottom-tabs` package
  package.json
  yarn.lock
Due: none

add: implement `NavigiationId` enum
  src/navigation/NavigationId.ts
  src/navigation/RootDrawerContent.tsx
  src/navigation/RootNavigator.tsx
Due: yarn prettier --write "./src/**/*.ts", yarn prettier --write "./src/**/*.tsx"

add: implement bottom tab for account screen
  src/navigation/NavigationId.ts
  src/navigation/accounts/AccountBottomTabContent.tsx
  src/navigation/accounts/AccountNavigator.tsx
  src/screens/AccountScreen.tsx
  src/screens/accounts/AccountBankScreen.tsx
  src/screens/accounts/AccountCashScreen.tsx
Due: yarn prettier --write "./src/**/*.ts", yarn prettier --write "./src/**/*.tsx"

add: create `CategoryNavigation` object
  src/navigation/NavigationId.ts
Due: yarn prettier --write "./src/**/*.ts"

add: create `CategoryExpenseScreen` & `CategoryIncomeScreen` screens
  src/screens/categories/CategoryExpenseScreen.tsx
  src/screens/categories/CategoryIncomeScreen.tsx
Due: yarn prettier --write "./src/**/*.tsx"

update: convert bottom tab content to `common`
  src/navigation/accounts/AccountNavigator.tsx
  src/navigation/common/CommonBottomTabContent.tsx
Due: yarn prettier --write "./src/**/*.tsx"

add: implement bottom tab for category screen
  src/navigation/categories/CategoryNavigator.tsx
  src/screens/CategoryScreen.tsx
Due: yarn prettier --write "./src/**/*.tsx"

add: create `TransactionNavigation` object
  src/navigation/NavigationId.ts
Due: yarn prettier --write "./src/**/*.ts"

add: create child screens for transactions
  src/screens/transactions/CategoryIncomeScreen.tsx
  src/screens/transactions/TransactionExpenseScreen.tsx
  src/screens/transactions/TransactionTransferScreen.tsx
Due: yarn prettier --write "./src/**/*.tsx"

add: implement bottom tab for transaction screen
  src/navigation/transactions/TransactionNavigator.tsx
  src/screens/TransactionScreen.tsx
Due: yarn prettier --write "./src/**/*.tsx"

fix: fix sonarcloud scan
  src/data/schema.ts
Due: yarn prettier --write "./src/**/*.ts"

add: create `CommonSetIcon` in common
  src/navigation/common/CommonSetIcon.tsx
Due: yarn prettier --write "./src/**/*.tsx"

update: use `CommonSetIcon` in `RootDrawerContent`
  src/navigation/RootDrawerContent.tsx
Due: yarn prettier --write "./src/**/*.tsx"

update: use `CommonSetIcon` for all bottom tabs
  src/navigation/accounts/AccountNavigator.tsx
  src/navigation/categories/CategoryNavigator.tsx
  src/navigation/transactions/TransactionNavigator.tsx
Due: yarn prettier --write "./src/**/*.tsx"

add: create `setTabBar` function
  src/navigation/common/CommonBottomTabContent.tsx
Due: yarn prettier --write "./src/**/*.tsx"

update: apply `setTabBar` to all bottom navigators
  src/navigation/accounts/AccountNavigator.tsx
  src/navigation/categories/CategoryNavigator.tsx
  src/navigation/transactions/TransactionNavigator.tsx
Due: yarn prettier --write "./src/**/*.tsx"

fix: fix sonarcloud scan
  src/navigation/RootNavigator.tsx
Due: yarn prettier --write "./src/**/*.tsx"

Path conditions:
  yarn prettier --write "./src/**/*.ts": any of: src/**/*.ts
  yarn prettier --write "./src/**/*.tsx": any of: src/**/*.tsx
  yarn prettier --write App.tsx: any of: App.tsx
